@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #ffffff;
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  /* padding: 0 5rem; */
}
